
    <div class="page">
	<div class="ui-header ui-bar-a" role="banner" data-role="header">
	        <h1 class="ui-title" role="heading" aria-level="1">
	       {{header}}
	        </h1>

	            <button mobile-button
	                button-class="e"
	                text="Back"
	                float="left"
	                icon="arrow-l"
	                icon-side="left"
	                ng-click="direction('ltr');go('/one')"
	                />


	</div>


	<div class="ui-content" role="main">
		<h3>{{content}}</h3>
		<p>
			{{p}}
		</p>
	</div>
	<div class="ui-footer ui-bar-a">
		<h4 class="ui-title">Footer content</h4>
	</div>
</div>